.jumbotron{
	margin:0;
	color: white;
}

.jumbotron img {
	max-height: 300px;
	width: auto;
	opacity: .99;
}

.title {
	margin-top: 5em;
}
.title h1 {
	color: #e9967a;	/*darksalmon*/
}

.title h2 {
	color: #ffe4c4; /*bisque*/
}

.opensource {
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
}
div, h1, h2, a {
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}
.focus {
  	border: 0px solid #000;
  	-webkit-filter: grayscale(0%);  
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}
 
.focus:hover {
  border: 40px solid #000;
  -webkit-filter: grayscale(100%);  
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

h2 {
	color: #D1D1D1;
}
.highlight {
	background-color: black;
}
.right-align {
	text-align: right;
}
.orange {
	background-color: #B65E43;
}
.pink {
	background-color: #9A3C80;
}
.blue {
	background-color: #3C5A9A;
}
.lightgreen {
	background-color: #3B977E;
}
.darkgreen {
	background-color: #4F6B6D;
}
.navy {
	background-color: #455C68;
}
.brown {
	background-color: #87635A;
}
.red {
	background-color: #A4433D;
}
.lightblue {
	background-color: #66C0CC;
}
.lightviolet {
	background-color: #E0E3F5;
}